.hero-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    flex-wrap: wrap;
}

.hero-section img{
display: flex;
flex-shrink: 1;
overflow: hidden;
}

.hero-text-wrapper{ 
    max-width: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-text-wrapper p {
    font-size: 22px;
}